html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primary-button {
  margin: 4rem 0;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 10px 50px;
  background: #000;
  text-decoration: none;
  color: #fff;
} 

.secondary-button {
  margin: 4rem 0;
  border: 1px solid grey;
  border-radius: 50px;
  padding: 10px;
  background: grey;
  text-decoration: none;
  color: black;
}
